* {
	box-sizing: border-box;
}

body {
	margin:0 auto;
	font-family: 'Major Mono Display';
	background-color: #C8C8C8;
}

header {
	color: #ffffff;
	background-color: #EF1B1B;
	opacity: 80%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.name {
	font-size: 70px;
	padding: 15px;
	border: white solid 1px;
	
}

.links {
	margin-top: 30px;
}

.links a {
	font-size: 40px;
	color: #ffffff;
	text-decoration: none;
	padding: 20px 20px 20px 20px;	
	border: 30px 0 0 0;
}

.gray__box {
	color: #C8C8C8;
	background-color: #C8C8C8;
	height: 90px;
	width: 900px;
	position: absolute;
	top: 122px;
	right: 0%;
}

.intro {
	color: #ffffff;
	background-color: #EF1B1B;
	opacity: 80%;
	display: flex;
	justify-content: space-between;
	padding: 30px;
	margin: 20px 300px 20px 20px;
    object-fit: cover;
    border-radius: 1%;
}

.intro h1 {
	font-size: 60px;
}

.intro p {
	font-size: 40px;
}

.profile {
	border: solid;
    object-fit: cover;
    border-radius: 50%;
	margin: 20px;
	width: 450px;
	height: 450px;
}

.about {
	color: #ffffff;
	background-color: #EF1B1B;
	text-align: center;
	list-style-position: inside;
	opacity: 80%;
	padding: 50px 30px 30px 30px;
	margin: 20px 200px 20px 20px;
    object-fit: cover;
    border-radius: 1%;
}

.about h1 {
	display: inline;
	margin-top: 20px;
	padding: 20px;
	border: white solid 1px;
	font-size: 70px;
	align-items: center;
}

ul {
	padding: 20px;
	margin-top: 20px;
	list-style-type: square;;
}

.about li {
	font-size: 40px;
	padding: 10px;
}

.portfolio {
	color: #ffffff;
	background-color: #EF1B1B;
	text-align: center;
	list-style-position: inside;
	opacity: 80%;
	padding: 50px 30px 30px 30px;
	margin: 20px 100px 20px 20px;
    object-fit: cover;
    border-radius: 1%;
}

.portfolio h1 {
	display: inline;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 20px;
	border: white solid 1px;
	font-size: 70px;
	align-items: center;
}

.portfolio__image {
	padding: 10px;
	margin-top: 40px;
	margin-bottom: 20px;
	border: solid white 10px;
	height: 400px;
	width: 45%;
}


































