* {
	box-sizing: border-box;
}

body {
	margin:0 auto;
	font-family: 'Major Mono Display';
	background-color: #C8C8C8;
}

header {
	color: #ffffff;
	background-color: #EF1B1B;
	opacity: 80%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.name {
	font-size: 70px;
	padding: 15px;
	border: white solid 1px;
}

.links {
	margin-top: 30px;
}

.links a {
	font-size: 40px;
	color: #ffffff;
	text-decoration: none;
	padding: 20px 20px 20px 20px;	
	border: 30px 0 0 0;
}

.gray__box {
	background-color: #C8C8C8;
	height: 90px;
	width: 60%;
	position: absolute;
	top: 122px;
	right: 0%;
}

.intro {
	color: #ffffff;
	background-color: #EF1B1B;
	opacity: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 30px;
	margin: 20px 300px 20px 20px;
    object-fit: cover;
    border-radius: 1%;
	position: relative;
}

.intro__pipe {
	position: absolute;
	background-color: #EF1B1B;
	height: 29px;
	width: 8px;
	top: -20px;
	left: 0%;
}

.intro h1 {
	font-size: 60px;
}

.intro p {
	font-size: 35px;
}

.profile__picture {
	border: solid;
    object-fit: cover;
    border-radius: 100%;
	margin: 20px;
	width: 90%;
	object-fit: scale-down;
}


.about {
	color: #ffffff;
	background-color: #EF1B1B;
	text-align: center;
	list-style-position: inside;
	opacity: 80%;
	padding: 50px 30px 20px 30px;
	margin: 20px 200px 20px 20px;
    object-fit: cover;
    border-radius: 1%;
	position: relative;
}

.about__pipe1 {
	background-color: #EF1B1B;
	height: 662px;
	width: 8px;
	position: absolute;
	top: -622px;
	right: 0%;
}

.about__pipe2 {
	background-color: #EF1B1B;
	height: 8px;
	width: 6500%;
	position: absolute;
	top: 0px;
	right: 0%;
}

.about__pipe3 {
	background-color: #EF1B1B;
	height: 86px;
	width: 8px;
	position: absolute;
	top: -80px;
	left: 0%;
}

.about h1 {
	display: inline;
	margin-top: 20px;
	padding: 20px;
	border: white solid 1px;
	font-size: 70px;
	align-items: center;
}

ul {
	padding: 20px;
	margin-top: 20px;
	list-style-type: square;
}

.about li {
	font-size: 40px;
	padding: 10px;
}

.portfolio {
	color: #ffffff;
	background-color: #EF1B1B;
	text-align: center;
	opacity: 80%;
	padding: 50px 30px 30px 30px;
	margin: 20px 100px 20px 20px;
    object-fit: cover;
    border-radius: 1%;
	position: relative;
}

.port__pipe1 {
	background-color: #EF1B1B;
	height: 1210px;
	width: 8px;
	position: absolute;
	top: -1185px;
	right: 0%;
}

.port__pipe2 {
	background-color: #EF1B1B;
	height: 8px;
	width: 3700%;
	position: absolute;
	top: 0px;
	right: 0%;
} 

.port__pipe3 {
	background-color: #EF1B1B;
	height: 53px;
	width: 8px;
	position: absolute;
	top: -53px;
	left: 0%;
}

.portfolio h1 {
	display: inline;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 20px;
	border: white solid 1px;
	font-size: 70px;
	align-items: center;
}

.portfolio__content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 40px;
}

.port__box {
	border: solid 0.5px white;
	margin: 10px;
	padding: 10px;
}

.port__description {
	font-size: 20px;
	margin-top: 5px;
	text-align: left;
}

.portfolio__image {
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 5px;
	border: solid white 5px;
	width: 100%;
	object-fit: scale-down;
}

.contact {
	color: #ffffff;
	background-color: #EF1B1B;
	opacity: 80%;
	padding: 50px 30px 30px 30px;
	margin: 20px 20px 20px 20px;
    object-fit: cover;
    border-radius: 1%;
	text-align: center;
	position: relative;
}

.contact__pipe1 {
	background-color: #EF1B1B;
	height: 2180px;
	width: 8px;
	position: absolute;
	top: -2140px;
	right: 0%;
}

.contact__pipe2 {
	background-color: #EF1B1B;
	height: 8px;
	width: 1570%;
	position: absolute;
	top: 0px;
	right: 0%;
}

.contact__pipe3 {
	background-color: #EF1B1B;
	height: 33px;
	width: 8px;
	position: absolute;
	top: -32px;
	left: 0%;
}

.contact h1 {
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 20px;
	border: white solid 1px;
	font-size: 70px;
	display: inline;
}

form {
	text-align: left;
	margin: 60px 150px 20px 150px;
}

label {
	font-size: 20px;
	margin-bottom: 10px;
}

input[type="text"] {
	display: block;
	border: white solid 1px;
	border-radius: 5px;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 20px;
}

input[type="submit"] {
	font-size: 20px;
	width: 150px;
	padding: 10px;
	font-family: 'Major Mono Display';
	background-color: white;
	border: none;
	border-radius: 5px;
	margin: 0 auto;
	display: block;
}

form .message {
	height: 100px;
	margin-bottom: 40px;
}

@media screen and (max-width: 1300px) {	
	.intro {	
		margin: 20px 250px 20px 20px;
	}	
		
	.profile__picture {
		object-fit: scale-down;
	}	
}

@media screen and (max-width: 1270px) {
	.gray__box {
		color: #C8C8C8;
		background-color: #C8C8C8;
		height: 212px;
		width: 30%;
		position: absolute;
		top: 0%;
		right: 0%;
	}
	
	.links {
		margin-right: 500px;
	}
	
	.intro__text p {
			font-size: 37px;
		}
	.about {	
		margin: 20px 150px 20px 20px;
	}
	
	form {
		margin: 60px 100px 20px 100px;
	}
		
}

@media screen and (max-width: 1185px) {
	.intro {	
		margin: 20px 200px 20px 20px;
	}	
}		


@media screen and (max-width: 1125px) {
		
	.gray__box {
		width: 20%;
	}
	
	.intro {	
			margin: 20px 150px 20px 20px;
		}
		
	.intro__text p {
			font-size: 35px;
		}
	
	.about {	
		margin: 20px 100px 20px 20px;
	}
	
	.portfolio {
		margin: 20px 50px 20px 20px;
	}
	
	.portfolio__content {
		grid-template-columns: 1fr 1fr;
	}
	
	.port__description {
		font-size: 20px;
	}
	
	form {
		margin: 60px 50px 20px 50px;
	}
	
	.about li {
		font-size: 35px;
	}
}

@media screen and (max-width: 1035px) {
	.intro__text p {
		font-size: 30px;
	}
}


@media screen and (max-width: 970px) {
	.gray__box {
		width: 10%;
	}	
	
	.intro {
		margin: 20px 85px 20px 20px;
	}
	
	.intro h1 {
		margin: 10px;
		font-size: 60px;
	}
	
	.about {	
		margin: 20px 70px 20px 20px;
	}
	
	.portfolio {
		margin: 20px 50px 20px 20px;
	}
	
	.port__description {
		font-size: 15px;
	}
	
	.about li {
		font-size: 30px;
	}
}

@media screen and (max-width: 880px) {
	.gray__box {
			opacity: 0%;
	}	
	
	.intro h1 {
			font-size: 60px;
	}
	
	.intro {
		margin: 20px;
	}
	
	.about {	
		margin: 20px;
	}
	
	.portfolio {
		margin: 20px;
	}
}	
	
@media screen and (max-width: 800px) {
	
	header {
		flex-direction: column;
		align-items: center;
	}
	
	.name {
		margin-bottom: 10px;
	}
	
	.links {
		display: inline;
		margin: 0px;
	}
	
	.links a {
		display: inline;
		font-size: 30px;
		padding: 0;
	}
	
	.intro {
		margin: 20px;
	}
	
	.intro h1 {
		font-size: 50px;
	}
	
	.intro__text p {
		font-size: 25px;
	}
	
	.about {
		padding-right: 10px;
		padding-left: 10px;
		padding-bottom: 10px;
	}
	
	.about h1 {
		font-size: 60px;
	}
	
	.about li {
		font-size: 25px;
	}
	
	.portfolio h1 {
		font-size: 60px;
	}
	
	.contact h1 {
		font-size: 60px;
	}
}

@media screen and (max-width: 650px) {	
	
	.intro h1 {
		
		font-size: 40px;
	}
	
	.intro__text p {
		font-size: 20px;
	}
	
	.about h1 {
		font-size: 50px;
	}
	
	.about li {
		font-size: 20px;
	}
	
	.portfolio h1 {
		font-size: 50px;
	}
	
	.portfolio__content {
		grid-template-columns: 1fr;
	}
	
	.port__description {
		font-size: 20px;
	}
	
	.contact h1 {
		font-size: 50px;
	}
}


@media screen and (max-width: 560px) {	

	.about h1 {
		font-size: 40px;
	}
	
	.about li {
		font-size: 15px;
	}


@media screen and (max-width: 550px) {	
	.links a {
		display: inline;
		font-size: 25px;
		padding: 0;
	}
	
	.intro h1 {
		font-size: 30px;
	}
	
	.intro__text p {
		font-size: 17px;
	}
	
	form {
		margin: 60px 20px 20px 20px;
	}
	
	.portfolio h1 {
		font-size: 40px;
	}
	
	.contact h1 {
		font-size: 40px;
	}
}




























